.projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100vh - 50px );
}
.card-cnt{
  width: calc((100vw / 2) - 4rem );
  height: calc((100vh / 2) - 10rem );
  margin-top: 2rem;
}